:root {
  --white: #fff;
  --gray: #92969bb2;
  --light: #f8f9fa;
  --dark: #343a40;
  --danger: #dc3545;
  --success: #28a745;
  --black: black;
  --container: 80%;
}

@font-face {
  font-family: "Brutal Type Thin";
  src: local("Brutal Type Thin"), local("Brutal-Type-Thin"),
    url("/Client/fonts/BrutalType-Thin.woff2") format("woff2");
  /* url("BrutalType-Thin.woff") format("woff"),
    url("BrutalType-Thin.ttf") format("truetype"); */
  font-weight: 100;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');


@font-face {
   font-family: 'Barlow Semi Condensed', sans-serif
;
  src: local("Brutal Type Regular"), local("Brutal-Type-Regular"),
    url("/Client/fonts/BrutalType.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Brutal Type Medium";
  src: local("Brutal Type Medium"), local("Brutal-Type-Medium"),
    url("/Client/fonts/BrutalType-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Brutal Type Bold";
  src: local("Brutal Type Bold"), local("Brutal-Type-Bold"),
    url("/Client/fonts/BrutalType-Bold.woff2") format("woff2");
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: "Brutal Type Light";
  src: local("Brutal Type Extra Light"), local("Brutal-Type-Extra-Light"),
    url("/Client/fonts/BrutalType-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  /*  font-family: 'Barlow Semi Condensed', sans-serif; */
  font-family: 'Barlow Semi Condensed', sans-serif;
  cursor: default;
}



/* body {
  background: rgb(206, 206, 206);
} */

.upper-header {
  background-color: white;
  color: var(--black);
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 16px;
  padding: 20px 0 20px 0;
  align-items: center;
}

.zawr{
  font-family: 'Barlow Semi Condensed', sans-serif; 
  font-size: 30px;
  letter-spacing: 7px;
}

nav {
  display: flex;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px 0 10px;
  transition: 0.2s ease-in;
  cursor: pointer;
  font-family: 'Barlow Semi Condensed', sans-serif; 
  letter-spacing: 1px;
}

nav a:hover {
  color: rgb(114, 111, 111);
  text-decoration: underline;
}

.enter-site {
  display: flex;
  width: 260px;
  align-items: center;
  justify-content: space-between;
  font-family: 'Barlow Semi Condensed', sans-serif; 
}

.enter-site a {
  position: relative;
  display: flex;
  color: var(--black);
  text-decoration: none;
  transition: 0.5s;
  letter-spacing: 3px;
  overflow: hidden;
  /* width: 100px; */
  /* height: 30px; */
  padding: 15px 15px;
  border-radius: 5px;
  border: solid rgba(255, 255, 255, 0.13) 2px;
  cursor: pointer;
  justify-content: center;
  font-family: 'Barlow Semi Condensed', sans-serif; 
}

/* .enter-site a img {
  width: 30px;
  height: 30px;
  background-color: var(--green);
  margin-right: 10px;
  cursor: pointer;
} */

.enter-site a:hover {
  background: var(--black);
  color: white;
  /* box-shadow: 0 0 5px var(--green), 0 0 25px var(--green), 0 0 50px var(--green),
    0 0 200px var(--green); */
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}

.enter-site a:nth-child(1) {
  filter: hue-rotate(0deg);
}

.enter-site a:nth-child(2) {
  filter: hue-rotate(200deg);
}

/* .enter-site a span {
  position: absolute;
  display: block;
}

.enter-site a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--green));
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.enter-site a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--green));
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.enter-site a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--green));
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.enter-site a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--green));
  animation: animate4 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
} */

.lower-header {
  width: var(--container);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  margin-top: 10px;
  margin-left: 10%;
}

.find,
.view,
.add_new_clothes,
.change_clothes {
  transition: 0.2s ease-in;
  cursor: pointer;
}

.view,
.add_new_clothes,
.change_clothes {
  margin-left: 20px;
}

.find:hover,
.view:hover,
.add_new_clothes:hover,
.change_clothes:hover {
  color: gray;
}

.search-wrapper {
  position: relative;
  display: flex;
  width: 30%;
  height: 45px;
  margin-left: 2%;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 32px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  outline: none;
  font-size: 25px;
  padding-left: 10px;
  cursor: pointer;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
}

.search:hover {
  border-color: black;
}

.search:focus {
  border-color: black ;
  box-shadow: black 0 0 10px;
}

.search__magnifier {
  position: absolute;
  background-size: 100%;
  height: 20px;
  width: 20px;
  top: 12px;
  border: none;
  background: no-repeat;
  right: 10px;
}

.main-slider {
  display: flex;
}

.container-slider {
  display: flex;
  justify-content: space-between;
  width: var(--container);
  /* height: 700px; */
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: rgba(255, 255, 255, 0.13);
}

.main-slide-container {
  position: relative;
  /* width: 80%; */
  height: 100%;
}

.main-slide {
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.information-main-slide {
  position: absolute;
  left: 50px;
  top: 400px;
  width: 300px;
  /* font-family: "Brutal Type Medium"; */
  color: white;
  font-size: 18px;
}

.relize {
  font-family: 'Barlow Semi Condensed', sans-serif; 
  font-size: 15px;
  margin-bottom: 10px;
}

/* .short-info-main-clothes {
  margin-bottom: 40px;
  color: var(--gray);
  transition: 0.3s ease-in;
}

.short-info-main-clothes:hover {
  color: white;
}

.prise-main-clothes {
  font-family: "Brutal Type Bold";
  font-size: 25px;
  letter-spacing: 3px;
} */

li {
  list-style-type: none; /* Убираем маркеры */
  display: flex;
  align-items: center;
   font-family: 'Barlow Semi Condensed', sans-serif
;
  color: white;
  transition: 0.3s ease-in;
  cursor: pointer;
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  width: 20%;
}

.main-list li span {
  margin-left: 10px;
  letter-spacing: 1px;
  font-size: 20px;
}

.slides {
  width: 100px;
  height: 117px;
  object-fit: cover;
  margin-left: 20px;
}

ul li .slides:last-child {
  margin-top: 1px;
}

.main-list li:hover {
  background-color: #36eca652;
}
/*заголовки */
.dresses-clothess,
.sweatshirt-clothess,
.new-clothess,
.top-clothess,
.top-week-clothes,
.discount-clothess,
.free-test,
.skirts,
.suit-clothess {
  position: relative;
  width: var(--container);
  margin: 0 auto;
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
}
/* контейнеры */
.container-dresses-clothess,
.container-sweatshirt-clothess,
.container-new-clothess,
.container-top-clothess,
.container-discount-clothess,
.container-skirt-clothess,
.container-suit-clothess {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
}
/* отдельные предметы */
.items-dresses-clothess,
.items-sweatshirt-clothess,
.items-new-clothess,
.items-top-clothess,
.items-discount-clothess,
.items-skirt-clothess,
.items-suit-clothess {
  width: 18%;
  height: 500px;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.slider-popcity {
  opacity: 0;
}

.exit{
  cursor: pointer;
  z-index: 999;
}


/* .items-skirt-clothess {
  width: 22%;
  height: 570px;
} */
.items-dresses-clothess img,
.items-sweatshirt-clothess img,
.items-new-clothess img,
.items-top-clothess img,
.items-discount-clothess img,
.items-skirt-clothess img,
.items-suit-clothess img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.items-dresses-clothess img:hover,
.items-sweatshirt-clothess img:hover,
.items-new-clothess img:hover,
.items-top-clothess img:hover,
.items-discount-clothess img:hover,
.items-skirt-clothess img:hover,
.items-suit-clothess img:hover {
  filter: brightness(50%);
  box-shadow: var(--black) 0 0 20px;
}

.new-prev,
.new-next {
  position: absolute;
  top: 35%;
  transition: 0.3s ease-in;
  cursor: pointer;
  font-size: 50px;
  font-weight: 700;
}

.new-prev {
  left: -20px;
}

.new-next {
  right: -20px;
}

.new-prev:hover,
.new-next:hover {
  color: var(--gray);
  opacity: 0.7;
}

.new-prev:active,
.new-next:active {
  color: var(--gray);
  opacity: 1;
}
.dresses-clothes-name,
.sweatshirt-clothes-name,
.new-clothes-name,
.new-clothes-developer,
.discount-clothes-developer,
.skirt-clothes-developer,
.suit-clothes-developer {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.dresses-clothes-name,
.sweatshirt-clothes-name,
.new-clothes-name,
.top-clothes-name,
.discount-clothes-name,
.skirt-clothes-name,
.suit-clothes-name {
  margin-top: 20px;
}

.dresses-clothes-prise,
.sweatshirt-clothes-prise,
.new-clothes-prise,
.skirt-clothes-prise,
.top-clothes-prise,
.suit-clothes-prise {
  margin-top: 10px;
   font-family: 'Barlow Semi Condensed', sans-serif
;
}

/* .popular-clothess {
  width: var(--container);
  display: block;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.13);
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 30px;
  color: white;
}

.popular-title {
  display: flex;
  align-items: center;
  padding: 20px 0 0 20px;
  margin-bottom: 20px;
}

.popular-title img {
  margin-top: -5px;
} */
.dresses-clothess span,
.sweatshirt-clothess span,
.new-clothess span,
.top-clothess span,
.discount-clothess span,
.skirts span,
.suit-clothess span {
  font-family: "Brutal Type Bold";
  font-size: 25px;
}
.top-clothess .top-prev,
.top-clothess .top-next,
.dresses-clothess .new-prev,
.dresses-clothess .new-next,
.sweatshirt-clothess .new-prev,
.sweatshirt-clothess .new-next,
.new-clothess .new-prev,
.new-clothess .new-next,
.discount-clothess .new-prev,
.discount-clothess .new-next,
.skirts .new-prev,
.skirts .new-next,
.suit-clothess .new-prev,
.suit-clothess .new-next {
   font-family: 'Barlow Semi Condensed', sans-serif
;
  font-size: 50px;
}

.popular-clothess span {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: black;
  font-size: 30px;
  letter-spacing: 2px;
  margin-left: 20px;
}

.popular-title img {
  filter: invert(1);
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 587px;
  width: 100%;
  grid-gap: 10px;
}

.first-popular-item {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  border-bottom-left-radius: 5px;
}
.second-popular-item {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}
.third-popular-item {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}
.forth-popular-item {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.fivth-popular-item {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.sixth-popular-item {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  border-bottom-right-radius: 5px;
}

.grid-container img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease-in;
} */

/* .first-popular-item img {
  height: 593px;
  border-bottom-left-radius: 10px;
}

.second-popular-item img,
.third-popular-item img,
.forth-popular-item img,
.fivth-popular-item img {
  height: 290px;
}

.sixth-popular-item img {
  height: 290px;
  border-bottom-right-radius: 10px;
}

.grid-container img:hover {
  filter: brightness(60%);
  box-shadow: var(--green) 0 0 10px;
} */

/* .items-top-clothess {
  width: 32%;
  height: 350px;
} */

/* .container-top-clothess {
  justify-content: space-between;
} */

.top-clothess {
  margin-top: 40px;
}

.upper-section-top-clothess {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.upper-section-top-clothess div,
.button {
  display: flex;
  border: solid rgba(255, 255, 255, 0.3) 2px;
  color: rgba(255, 255, 255, 0.3);
  width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.upper-section-top-clothess div:hover {
    border: solid var(--black) 2px;
  box-shadow: var(--black) 0 0 5px;
}

.top-week-clothes,
.free-test {
  margin-top: 40px;
}

.top-week-clothes img,
.free-test img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 10px;
}

.inormatio-top-week-clothes,
.inormatio-free-test-clothes {
  position: absolute;
  left: 100px;
  top: 350px;
  width: 300px;
}

.title-top-week-clothes,
.title-free-test-clothes {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
}



.short-inormatio-top-week-clothes,
.short-information-free-test-clothes {
  font-size: 25px;
}

.prise-top-week-clothes {
  margin-top: 30px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
}

.full-butt {
  border: none;
  color: black;
  width: 200px;
  margin-top: 15px;
  transition: 0.1s ease-in;
  font-weight: 500;
  font-size: 20px;
}
/* 
.orange {
  background-color: orange;
}

.orange:hover {
  box-shadow: orange 0 0 15px;
}

.blue {
  background-color: rgb(0, 140, 255);
}

.blue:hover {
  box-shadow: rgb(0, 140, 255) 0 0 15px;
}

.red {
  background-color: red;
}

.red:hover {
  box-shadow: red 0 0 15px;
} */

.lern-more-butt {
  margin-top: 60px;
}

.discount-clothess {
  margin-top: 40px;
}

.discount-information {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 20%;
  background-color: var(--green);
  color: black;
}

.befor-discount-clothes-prise {
  color: rgba(255, 255, 255, 0.15);
  text-decoration: line-through;
  letter-spacing: 1px;
  font-size: 25px;
}

.after-discount-clothes-prise {
  color: black;
  letter-spacing: 1px;
  font-size: 25px;
}

.skirts {
  margin-top: 40px;
}

.suit-clothes {
  margin-top: 20px;
}

footer {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer a {
  display: flex;
  border: solid var(--green) 2px;
  border-radius: 50%;
  background-color: #36eca680;
  align-items: center;
  transition: 0.3s ease-in;
  cursor: pointer;
  margin: 10px 5px 10px 5px;
}

footer a img {
  cursor: pointer;
}

footer a:last-child {
  margin-right: 30px;
}

footer a:hover {
  background-color: var(--green);
}

.disp_none {
  display: none;
}
